.gallery-photo {
  height: auto;
}

.tabNav {
  margin-bottom: 30px;
}

.btn-addNew {
  margin: 10px 5px;
}

.btn-edit, .btn-delete {
  margin-top: 15px;
}

.facePic {
  margin-top: 10px;
}

.face-current-heading {
  text-align: center;
}

.face-current {
  padding: 10px 20px;
}

.face-list {
  padding: 10px 20px;
}

.list-group-item:first-child,
.list-group-item {
  border: none;
  margin: 10px 0;
  }

.list-group-item:first-child {
  margin: 0;
}

.face-list-name {
  margin-top: 35px;
}

.preview-image {
  height: 50%;
  width: 50%;
  max-width: 400px;
  max-height: 400px;
  margin: 50px 60px;
}

.image-preview-info {
  margin: 60px;
}

.image-gallery {
  width: 562px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding: 0;
}

.error {
  color: 'red';
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}

.Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.text-danger {
    color: #a94442;
}

.fa-circle {
    content: "\f111";
}

.fa-stop {
    content: "\f04c";
}

.pause-button {
  margin-right: 20px;
}

.record-button {
  margin-left: 10px;
  margin-right: 10px; 
}

.audio-upload {
  margin-top: 30px;
  margin-left: 20px;
}