h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

html, body, #app, .app-grid, .app-body, .app-window, .app-body, .app-grid-secondary {
  height: 100%;
}

.app-window {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -82px;
}

/*
.app-body {
  justify-content: center;
  align-items: center;
  display: flex;
}*/

/***************************************/
/**************General******************/
/***************************************/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=eaeaeaff&noise=626262&density=5&opacity=7');
}

.container-fluid {
  padding: 0;
}

/***************************************/
/**************Face-Current*************/
/***************************************/

.gallery-photo {
  height: auto;
}

/******************************************/
/**************Navigation Bars*************/
/******************************************/
.navbar {
  background-color: rgba(139, 172, 189, 0.7);
  min-height: 60px;
  border: 1px solid #D0D0D0;
}

.navbar-brand {
  font-size: 35px;
  font-family: 'Lato', sans-serif;
  text-shadow: 0 1px 1px #888;
}

.navbar-default .navbar-brand {
  color: white;
}

.tabNav {
  margin-bottom: 30px;
}

.nav-tabs {
  border-bottom: 1px solid #fff;
}

.navbar-default .navbar-nav>li>a {
  font-size: 15px;
  color: white;
  padding: 20px 10px  ;
}

.nav-tabs>li>a,
.nav-tabs>li.active>a {
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=eaeaeaff&noise=626262&density=5&opacity=7');
  font-size: 17px;
  border: 1px solid #fff;
  border-bottom-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: 1px solid #fff;
  border-bottom-color: transparent;
}
.nav-tabs>li>a {
  border: none;
  border-radius: 5px 5px 0 0;
}

.caregiver-name {
  font-size: 17px;
}
/******************************************/
/*********Face and Reminder-List***********/
/******************************************/

.list-group-item:first-child,
.list-group-item {
  border: none;
  border-radius: 0px;
  margin: 20px 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.list-group-item:first-child {
  margin: 0;
}

.new-reminder-btn,
.new-face-btn {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: rgba(250, 149, 129, 0.7);
}

.new-reminder-btn h2,
.new-face-btn h2 {
  margin: 10px;
}

.reminder-list,
.face-list {
  padding: 20px 0;
}

.facePic {
  padding: 4px 6px;
}

.face-list-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.face-list-entry {
  display: flex;
  padding-right: 10px;
  align-items: center;
}

.reminder-entry {
  display: flex;
  align-items: center;
}

.reminder-list-time {
  font-weight: bold;
}

.hvr-trim {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-trim:before {
  content: '';
  position: absolute;
  border: white solid 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.hvr-trim:hover:before, .hvr-trim:focus:before, .hvr-trim:active:before {
  opacity: 1;
}

/******************************************/
/****************Face-Current**************/
/******************************************/
.face-form,
.reminder-form,
.reminder-current,
.face-current {
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

.reminder-current-header,
.face-current-header {
  font-weight: 500;
}

.reminder-current-heading,
.face-current-heading {
  text-align: center;
  font-size: 48px;
  margin: 25px 0;
  font-weight: 500;
}

.image-gallery {
  width: 562px;
  margin-left: auto;
  margin-right: auto;
}

.reminder-type,
.reminder-audio,
.reminder-btns,
.reminder-description,
.reminder-recurring,
.reminder-time,
.face-audio,
.face-btns,
.face-description {
  width: 562px;
  margin-right: auto;
  margin-left: auto;
}

.reminder-btns,
.face-btns {
  margin-bottom: 35px;
  margin-top: 25px;
}

.btn-edit, 
.btn-delete {
  background-color: #e1eff2;
  margin-right: 10px;
}

.btn {
  border-radius: 3px;
  padding: 7px 15px;
  border: none;
}

/******************************************/
/****************Image-Preview*************/
/******************************************/

.preview-image {
  height: 50%;
  width: 50%;
  max-width: 400px;
  max-height: 400px;
  margin: 50px 60px;
}

.image-preview-info {
  margin: 60px;
}

/************************************************/
/****************User feedback Items*************/
/************************************************/


.error {
  color: 'red';
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}

/************************************************/
/****************Forms***************************/
/************************************************/
.form-control {
  border-radius: 0px;
}

.input-group-addon {
  border-radius: 0px;
}

.record-button {
  margin-left: 15px;
}

.face-form,
.reminder-form {
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 25px;
}

.face-form-heading,
.reminder-form-heading {
  text-align: center;
  font-size: 40px;
}

.face-form-submit-btn,
.reminder-form-submit-btn,
.reminder-type-btn {
  background-color: #e1eff2;
}
.face-form-submit-btn,
.reminder-form-submit-btn {
  margin-bottom: 30px;
}

.reminder-form-btns {
  margin-bottom: 25px;
}

.record-button, 
.upload-button {
  border: 1px solid #D0D0D0;
}

.record-button {
  margin-right: 15px;
}

/************************************************/
/****************Sign In*************************/
/************************************************/

.sign-in-container {
    display: flex;
    justify-content: center;
}

.sign-in-box {
      background-color: white;
    padding: 100px 150px;
}

/************************************************/
/****************Other***************************/
/************************************************/

.Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.text-danger {
    color: #a94442;
}

.fa-circle {
    content: "\f111";
}

.fa-stop {
    content: "\f04c";
}

/*.pause-button {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 19px;
  margin-right: 15px;
}*/

/*.record-button {
  margin-top: 20px;
  margin-bottom: 19px;
  margin-right: 15px; 
}*/

/*.audio-upload {
  margin-top: 1px;
  margin-left: 3px;
  margin-bottom: 19px;
}*/

.recorded-audio-box {
  margin-left: 80px;
  margin-top: 20px;
}

.recurringDays {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 20px;
}

.dropdown {
  margin-top: 13px;
  margin-bottom: 10px;
  margin-left: 1px;
}

.rdtPicker {
  margin-top: 38px;
}

.preview-img {
  margin-right: 10px;
}

.front {
  margin-left: 30px;
  margin-bottom: 10px;
}

/*.dropzone {
  height: 750px;
  width: 250px;
}*/

